<div class="page-content">

  <!-- Header Bar -->
  <header ng-if="ctrl.data.topic" topic="ctrl.data.topic"></header>

  <div class="tat-view tat-dashingview">

    <message-load is-init-loading="ctrl.data.initialLoading"></message-load>

    <div class="row">
      <div id="message_{{:: $index}}" ng-repeat="msg in ctrl.data.messages | toArray | orderBy:'orderBox' track by $index"
       class="widget widget-text" dashing-css-parser="msg.labels" ng-click="ctrl.goToURL(msg.url)">

        <div ng-if="msg.item && msg.item !== ''" style="height:45px!important;">
          <h3 class="dashtitle" style="font-weight:bold;word-wrap: break-word">{{msg.item}}</h3>
        </div>

        <div class="boxmiddle">
          <chartist
          ng-if="msg.widgetData"
          class="ct-chart"
          chartist-data="msg.widgetData" chartist-chart-type="{{msg.widget}}" chartist-chart-options="msg.widgetOptions"></chartist>

          <tek-progress-bar ng-if="msg.widget == 'progressbar'"
            class="m-tb-sm bottom"
            mode="{{msg.widgetMode}}"
            manager="msg.bar"
            bar-class="{{msg.widgetClass}}"
            ng-model="msg.widgetValue">{{msg.widgetValueText}}% </tek-progress-bar>

          <h1 ng-if="msg.valueMsg !== ''" class="dashvalue">{{msg.valueMsg}}</h1>
          <span ng-show="msg.textClean !== ''">{{msg.textClean}}</span>
        </div>
        <div class="dashbottom" style="position: absolute;bottom: 0;left: 0;">
          <span class="datevalue" am-time-ago="msg.dateUpdate * 1000"></span>
        </div>
        <div class="dashbottom" style="position: absolute;bottom: 0;right: 0;">
          <span ng-show="msg.service != ''" class="servicevalue"  style="bottom:0px">{{msg.service}}</span>
        </div>
      </div>
    </div>

  </div>
</div>
